.landing-container{
    user-select: none;
}

.navbar{
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-wrap: wrap;
    padding: 1.5em;
    background-color:#F8F9FF;
    box-shadow: 0px -8px 24px rgba(112, 144, 176, 0.5);
}

.navbar-logo{
    align-self: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.navbar-menu{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar-item{
    margin: 0em 2em;
}

.navbar-play-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: 2px solid#34373A;
    padding: .75em;
    margin-left: 2em;
    border-radius: 8px;
}


.landing-section-one-container{
    display: flex;
}

.landing-section-one-text{
    padding: 8em 4em;
}

.landing-section-one-headline{
    font-family: 'Roboto', sans-serif;
    font-size: 64px;
    font-weight: 700;
}

.landing-section-one-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    padding-top: .5em;
    padding-bottom: 2em;
}

.landing-section-one-play-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    border: 2px solid#34373A;
    padding: .75em;
    border-radius: 8px;
    text-align: center;
    width:50%;
}

.img-placeholder{
    width:640px;
    height:460px;
    background-color: rgb(251, 255, 0);
    margin: 4em;
}

.landing-section-two-container{
    display: block;
}

.landing-section-two-headline{
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.landing-section-two-subtitle{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding-top: .5em;
    padding-bottom: 2em;
    text-align: center;
}

.landing-section-two-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-section-two-card{
    border-radius: 8px;
    margin-right: 1em;
    margin-bottom: 1em;
    box-shadow:0px 4px 20px rgba(112, 144, 176, 0.25);
}

.landing-section-two-card-image{
    width:18rem;
    height:18rem;
    display:flex;
    justify-content: center;
    align-items: center;
}

.landing-section-two-card-caption{
    display:flex;
    font-family: 'Roboto', sans-serif;
    width:18rem;
    height:6rem;
    background-color: #17578F;
    color:#F8F9FF;
    justify-content: center;
    align-items: center;
    padding: 1.5em 1em;
    border-radius: 0px 0px 8px 8px;
}

.landing-section-three-container{
    display:flex;
    flex-wrap: wrap;
}

.landing-section-three-headline{
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    padding: 1.5em;
}

.landing-section-three-feature{
    display:flex;
}

.landing-section-three-feature-text:nth-child(2n+1){
    padding: 8em 0em 8em 4em;
    width:50%;
}

.landing-section-three-feature-text:nth-child(2n){
    padding: 8em 0em 8em 4em;
    width:50%;

}

.landing-section-three-feature-text-heading{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
}

.landing-section-three-feature-text-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-top: 1em;
    width: 75%;
}

.landing-section-three-feature-image:nth-child(2n+1){
    background-color: #17578F;
    padding: 2em;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-three-feature-image:nth-child(2n){
    background-color: #17578F;
    padding: 2em;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-section-four-container{
    display:block;
    text-align: center;
    padding: 8em;
}

.landing-section-four-header{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.landing-section-four-subtitle{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 24px;
    padding-top: 2em;
    padding-bottom: 2em;
}

.landing-section-four-button{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    border: 2px solid#34373A;
    padding: .75em;
    border-radius: 8px;
    width:50%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    padding: 8em 4em 0em 4em;
    display: block;
    background-color:#F5F7FA;
}

.footer-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    width:25%;
    padding-bottom: 4em;
}

.footer-copyright{
    margin-top: auto;
    padding: 1em 0em;
}




