.play-container{
    user-select: none;
}

.play-wrapper{
    display: flex;
}

.play-area{
    flex: .7 1 70%;
}

.play-game{
    display: flex;
    background-color: #17578F;
    color: #F8F9FF;
    padding: 2em;
    margin: 2em;
    border-radius: 8px;
    justify-content: space-between;
    box-shadow: 0px 4px 20px rgba(112, 144, 176, 0.25);
}

.play-game-choose{
    font-size: 72px;
    font-weight: 700;
    margin: auto 0;
}

.play-game-menu{
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 1em;
    row-gap: 1em;
    background-color: silver;
    padding: 1em;
    border-radius: 8px;
}

.play-game-menu-item{
    border: 1px solid #F8F9FF;
    padding: 1em;
    border-radius: 8px;
    text-align: center;
    z-index: 3;
}

.play-game-drop{
    color:#F8F9FF;
}

.play-game-jackpot-prize{
    font-size: 64px;
    font-weight: 700;
    
}

.play-game-jackpot-label{
    font-size:32px;
    font-weight:400;
}

.play-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.play-card{
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F9FF;
    border-radius:8px;
    width: 300px; 
    /* width:max-content; */
    margin:2em;
    box-shadow: 0px 4px 20px rgba(112, 144, 176, 0.25);
    padding-bottom: 2em;
}

.play-card-label{
    width: 100%;
    padding: .5em 1em;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.play-card-system{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: .5em;
}

.play-card-system-label{
    font-size:12px;
    font-weight: 700;
    width: 100%;
    padding: 1em;
}

.play-num{
    padding: 1em;
    font-size: 12px;
    text-align: center;
    position: relative;
}

.play-num-bracket-top{
    position: absolute;
    top: -.1em;
    left: 1.1em;
}

.play-num-bracket-bottom{
    position: absolute;
    bottom: .1em;
    left: 1.1em;
}

.vertical-line{
    height:1.5em;
    left: 1.45em;
    bottom: .75em;
    border: .5px solid;
    position: absolute;
}

.play-card-ez2-numbers{
    display: flex;
    flex-wrap: wrap;
    width:40%;
}

.play-num-ez2{
    position:relative;
    padding: 1em;
    font-size: 12px;
}

.play-card-prices{
    position:relative;
}

.play-card-ez2-options{
    display: flex;
}

.play-card-ez2-wrapper1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.play-card-ez2-wrapper2{
    display: flex;
    flex-wrap: wrap;
}
  .divider{
    height:90%;
    border: 1px dotted;
    display:inline-block;
} 

.flex-column{
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}

.no-flex{
    display: block;
}

.digit-label{
    width:inherit;
    text-align: center;
}

.no-center{
    text-align: inherit;
}

.negate-max-content{
    width:300px;
}