.play-nav{
    display:flex;
    padding: 1em;
    box-shadow: 0px -8px 24px rgba(112, 144, 176, 0.5);
}

.play-nav-logo{
    align-self: center;
    font-weight: 700;
}

.play-nav-info{
    display: flex;
    margin-left: auto;
}

.play-nav-info div{
    padding: 1em;
}